name: booking-cafe-seats

services:
  db:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management
    env_file:
      - .env
    ports:
      - "127.0.0.1:15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping && rabbitmq-diagnostics -q check_port_connectivity && rabbitmq-diagnostics -q check_local_alarms"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    env_file:
      - .env
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      --save 900 1
      --save 300 10
      --save 60 10000
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

  app:
    build:
      context: ../src
      dockerfile: Dockerfile.app
    env_file:
      - .env
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "127.0.0.1:8004:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - media:/app/media

  celery_worker:
    build:
      context: ../src
      dockerfile: Dockerfile.celery
    env_file:
      - .env
    command: celery -A celery_app.main:celery_app worker -l INFO -Q default
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "celery -A celery_app.main:celery_app inspect ping -d celery@$$HOSTNAME -t 5 | grep -q pong"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    restart: unless-stopped

  flower:
    image: mher/flower:latest
    env_file:
      - .env
    command: celery flower --url_prefix=/flower
    depends_on:
      rabbitmq:
        condition: service_healthy
      celery_worker:
        condition: service_healthy
    ports:
      - "127.0.0.1:5555:5555"
    restart: unless-stopped


volumes:
  pgdata:
  redis_data:
  rabbitmq_data:
  media:
